<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="post">
                    <h2 class="text-center">Edit Product</h2>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{product.name}}">

                    <label for="category">Category</label>
                    <input type="text" name="category" id="category" class="form-control" value="{{product.category}}">

                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" class="form-control" value="{{product.price}}">

                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" class="form-control" value="{{product.description}}">

                    <label for="image">Image</label>
                    <img src="/product-images/{{product._id}}.jpg" alt="" width="100px" height="auto" id="imgView">
                    <input type="file" name="image" id="image" class="form-control" onchange="viewImage(event)">

                    <input type="submit" name="" id="" value="Submit" class="btn btn-success mt-4" 
                    onclick="return confirm('Are you sure you want to update ?')">
                </form>
             </div>
        </div>
    </div>
</section>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>