
<section>
    <div class="container">
        <div class="row mt-3">
            <a href="/admin/add-product" style="max-width: 200px;" class="btn btn-success ms-auto">Add Product</a>
        </div>
            <table class="table mt-4">
            <thead>
                <tr>
                <th scope="col">Sl.no</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.category}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td><img style="height: 50px; width: 50px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
                <td>
                    <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                    <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete {{this.name}} ?')">Delete</a>
                </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
