<h1 class="text-center mt-5">ORDER PRODUCTS</h1>

<section>
    <div class="container">
        <div class="row">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Sl.no</th>
                        <th> </th>
                        <th scope="col">Item</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orderProducts}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td><img style="width: 80px; height: 80px;" src="/product-images/{{this.productDetails._id}}.jpg" alt=""></td>
                        <td>{{this.productDetails.name}}</td>                     
                        <td>{{this.productDetails.category}}</td>                     
                        <td>{{this.quantity}}</td>                     
                        <td>{{this.totalPrice}}</td>                     
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <div>
            </div>
        </div>
</section>