<div class="container">
  <div class="row">
    <table class="table mt-5 ms-5 ">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th></th>
      </tr>
      <h2>{{user._id}}</h2>
      {{#each products}}
      <tr id="{{this.productDetails._id}}">
        <td><img style="height: 80px; width: 80px;" src="/product-images/{{this.productDetails._id}}.jpg" alt=""></td>
        <td>{{this.productDetails.name}}</td>
        <td>₹ {{this.productDetails.price}}</td>
        <td>
          <button class="btn btn-secondary me-2"
            onclick="changeQuantity('{{this._id}}', '{{this.productDetails._id}}','{{../user._id}}', -1)">-</button>
          <span class="product-quantity" id="quantity-{{this.productDetails._id}}">{{this.quantity}}</span>
          <button class="btn btn-secondary ms-2"
            onclick="changeQuantity('{{this._id}}', '{{this.productDetails._id}}','{{../user._id}}', 1)">+</button>
          <a class="btn btn-danger ms-5" onclick="return confirm('do you want to remove this item')"
            href="/remove-item/{{this.productDetails._id}}">Remove</a>
        </td>
      </tr>
      {{/each}}
    </table>
    <hr class="mt-4">
    <div class="col-md-12 pt-3 pe-5">
      <h3 class="float-end " style="margin-right: 250px;">Total : ₹ <span id="TotalCartValue">{{total}}</span></h3>
    </div>
    <div class="col-md-12 pt-1 pe-5">
      <a class="btn btn-success float-end" style="margin-right: 250px; width: 200px;" href="/place-order">Order Now</a>
    </div>
  </div>
</div>